aclocal.m4
autom4te.cache
config.*
.deps
stamp*
autoscan.log
configure.scan
configure
depcomp
missing
compile
install-sh
Makefile
!/os9disasm/doc/Makefile
os9disasm/Makefile
g09dis/Makefile
Win09dis/Makefile
Makefile.in
*.[oa]
*.txt
os9disasm/os9disasm
win09dis
g09dis
