/* ***************************************************************** *
 * windis.rc - resource file for Win09Dis                            $
 * $Id::                                                             $
 * ***************************************************************** */
 
#include <windows.h>
#include <winresrc.h>
#include "resource.h"	//for id declarations

#ifndef IDC_STATIC
#  define IDC_STATIC -1   //not defined for DevC++
#endif

//----------------------------------------------------------------------------
// Resource languages: Codes for languages and sub-languages are declared in winnt.h
// eg for US english replace SUBLANG_ENGLISH_UK with SUBLANG_ENGLISH_US
// eg for FRENCH replace LANG_ENGLISH with LANG_FRENCH and then replace SUBLANG_ENGLISH_UK
// with either SUBLANG_FRENCH,SUBLANG_FRENCH_BELGIAN,SUBLANG_FRENCH_CANADIAN,
// SUBLANG_FRENCH_SWISS,SUBLANG_FRENCH_LUXEMBOURG,SUBLANG_FRENCH_MONACO depending
// on which national or regional variation of the language corresponds best with
// your requirements.
//
// English (U.K.) resources
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK	//codes for these are declared in winnt.h
#endif //_WIN32

#define OPT_W 400
#define OPT_H 270
#define FILE_WDTH (OPT_W - 12)/2 - 3
#define FILE_HGHT (OPT_H -50)/4

// ------------------------------
// Main Menu
// ------------------------------


IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        POPUP "New"
        BEGIN
            MENUITEM "Listing", ID_LSTNGNEW
            MENUITEM "Command File", ID_CMDNEW
            MENUITEM "Label File", ID_LBLNEW
        END
        POPUP "Open"
        BEGIN
            MENUITEM "Open Listing", ID_LSTNGOPEN
            MENUITEM "Open Command File", ID_CMDOPEN
	    MENUITEM "Open Label File", ID_LBLOPEN
        END
        MENUITEM SEPARATOR
        POPUP "Save"
        BEGIN
            MENUITEM "Save Cmd File", ID_CMDSAVE
            MENUITEM "Save Lbl File", ID_LBLSAVE
        END
        POPUP "Save As"
        BEGIN
            MENUITEM "Save CMDFILE As...", ID_CMDSAVEAS
            MENUITEM "Save LBLFILE As...", ID_LBLSAVEAS
        END
        MENUITEM SEPARATOR
        MENUITEM "Quit", WM_QUIT
    END
    POPUP "&View"
    BEGIN
    END
    POPUP "&Tools"
    BEGIN
        MENUITEM "Disassemble to GUI", ID_DASMPROG, GRAYED
        MENUITEM "Disassemble to File", ID_DASMTOFILE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Modify Amode List", ID_AMLISTEDIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "Set disassembler options/parameters", ID_DISOPTS
        MENUITEM SEPARATOR
        MENUITEM "Load Options from File", ID_OPTSLOAD
        MENUITEM "Save Options to File", ID_OPTSSAVE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "About", ID_HLPABOUT
    END
END

// About Dialog....

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 339, 76
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Win09Dis"
//FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    GROUPBOX        "About Win09Dis...",IDC_STATIC,7,7,225,62
    LTEXT           "",IDC_ABTTXT,16,18,144,43   // To be filled in by the app
END

// ---------------------
// Set options Dialog...
// ---------------------

IDD_OPTS DIALOG DISCARDABLE 0, 0, OPT_W, OPT_H
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Win09Dis Options"
BEGIN
  PUSHBUTTON  "Cancel",IDC_CANCEL,OPT_W - 120,OPT_H - 20,30,15
  PUSHBUTTON  "Apply",IDC_APPLY,OPT_W - 80,OPT_H - 20,30,15
  PUSHBUTTON  "Ok",IDC_OK,OPT_W - 40,OPT_H - 20,30,15
END

IDD_WINDOWQUIT DIALOG DISCARDABLE 0,0,200,110
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP
CAPTION "Files have been altered"
BEGIN
  GROUPBOX  "-Unsaved files-", IDC_STATIC, 10,10,180,60
  CTEXT     "You are about to exit and your files have been altered",
                IDC_STATIC,20,30,160,10
  CTEXT     "What do you wish to do?", IDC_STATIC, 20,50,160,10
  PUSHBUTTON "Exit without saving", IDCANCEL, 10,80,70,15
  PUSHBUTTON "Save All",ID_SAVEALL, 90,80,40,15
  PUSHBUTTON "Select Files", ID_SELECTEM, 140,80,50,15
END

// Rename Label Dialog

IDD_RENAME_LBL DIALOG DISCARDABLE 0, 0, 150, 180
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP
CAPTION "Define Label Name"
  
BEGIN
  GROUPBOX    "Label Name", IDC_STATIC, 5, 5, 140, 40
  EDITTEXT    IDRN_LBLNAME, 10, 20, 130, 10
  GROUPBOX    "Label Address", IDC_STATIC, 5, 45, 140, 40
  EDITTEXT    IDRN_LBLADDR, 10, 60, 130, 10
  GROUPBOX    "Addressing Mode", IDC_STATIC, 5, 100, 140, 40
  COMBOBOX    IDRN_COMBO, 10,115,120,100, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
  PUSHBUTTON  "Cancel", IDCANCEL, 5, 150, 50, 15
  PUSHBUTTON  "OK", IDOK, 95, 150, 50, 15
END

IDD_BNDSDEFINE DIALOG DISCARDABLE 0, 0, 150, 270
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP
CAPTION "Define Data Bounds"

BEGIN
  GROUPBOX   "Boundary type", IDC_STATIC, 5, 5, 140, 40
  COMBOBOX   IDDB_BT, 10, 20, 130, 60,
                                CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
  GROUPBOX   "Addressing Mode", IDC_STATIC, 5, 55, 140, 40
  COMBOBOX   IDDB_AM, 10, 70, 130, 100,
                CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_DISABLED
  GROUPBOX   "Address or Address Range", IDC_STATIC, 5, 100, 140, 40
  EDITTEXT   IDDB_RNGE, 10, 115, 130, 10
  GROUPBOX   "Offset from address", IDC_STATIC, 5, 155, 140, 80
  COMBOBOX   IDDB_OFST, 10, 170, 130, 100,
                CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL | WS_DISABLED
  CTEXT      "Enter label class followed by", IDC_STATIC, 10, 190, 130, 10
  CTEXT      "hexadecimal offset", IDC_STATIC, 10, 200, 130, 10
  CTEXT      "$=hex, &=decimal, @=either", IDC_STATIC, 10, 210, 130, 10
  CTEXT      "or Label Class letter", IDC_STATIC, 10, 220, 130, 10
  PUSHBUTTON "Cancel", IDCANCEL, 5, 250, 50, 15
  PUSHBUTTON "Save", IDOK, 95, 250, 50, 15
END

IDD_SETAMODE DIALOG DISCARDABLE 0, 0, 150, 240
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP
CAPTION "Set Addressing Mode"

BEGIN
  CTEXT      "L", IDSAM_CLASS, 5, 10, 140,10
  GROUPBOX   "Addressing Mode", IDC_STATIC, 5, 25, 140, 40
  COMBOBOX   IDSAM_AM, 10, 40, 130, 100,
                                CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
  GROUPBOX   "Address or Address Range", IDC_STATIC, 5, 70, 140, 40
  EDITTEXT   IDSAM_RNGE, 10, 85, 130, 10
  GROUPBOX   "Offset from address", IDC_STATIC, 5, 125, 140, 80
  COMBOBOX   IDSAM_OFST, 10, 140, 130, 100,
                                CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
  CTEXT      "Enter label class followed by", IDC_STATIC, 10, 160, 130, 10
  CTEXT      "hexadecimal offset", IDC_STATIC, 10, 170, 130, 10
  CTEXT      "$=hex, &=decimal, @=either", IDC_STATIC, 10, 180, 130, 10
  CTEXT      "or Label Class letter", IDC_STATIC, 10, 190, 130, 10
  PUSHBUTTON "Cancel", IDCANCEL, 10, 215, 50, 15
  PUSHBUTTON "Save", IDOK, 90, 215, 50, 15
END

// Label Edit dialog
IDD_LBLEDIT DIALOG DISCARDABLE 0, 0, 150, 240
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP
CAPTION "Edit Label Line"

BEGIN
  GROUPBOX   "Label Name", IDC_STATIC, 5, 10, 140, 40
  EDITTEXT   ID_LBLED_NAME, 10, 20, 130, 10
  GROUPBOX   "Label Address", IDC_STATIC, 5, 60, 140, 40
  EDITTEXT   ID_LBLED_ADDR, 10, 70, 130, 10
  GROUPBOX   "Label Class", IDC_STATIC, 5, 130, 140, 40
  COMBOBOX   ID_LBLED_CLASS, 10, 140, 130, 100,
                                CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
  PUSHBUTTON "Cancel", IDCANCEL, 10, 190, 50, 15
  PUSHBUTTON "Add", IDOK, 90, 190, 50, 15
END

// Listings/Labels Search

IDD_SRCHDLG DIALOG DISCARDABLE 0, 0, 200, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Search Listings"

BEGIN
  GROUPBOX   "Column to Search", ID_SRCH_RBBOX, 5, 10, 190, 70
  // Add Radio Button in program
  GROUPBOX   "", IDC_STATIC, 5, 90, 190, 30
  CHECKBOX   "Exact Text Match", ID_CBEXACT, 10, 100, 175, 10, BS_AUTOCHECKBOX
  CTEXT      "Enter Search Text", IDC_STATIC, 0, 131, 99, 10
  EDITTEXT   ID_SRCH_TXT, 100, 130, 99, 10
  PUSHBUTTON "Search Backward", ID_SRCHBKWD, 5, 160, 60, 10
  PUSHBUTTON "Search Forward", ID_SRCHFWD, 70, 160, 58, 10
  PUSHBUTTON "Cancel", IDCANCEL, 135, 160, 55, 10
END

IDD_LBL_SRCHDLG DIALOG DISCARDABLE 0, 0, 200, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Search Listings"

BEGIN
  GROUPBOX   "Column to Search", ID_SRCH_RBBOX, 5, 10, 190, 70
  RADIOBUTTON "Label", ID_RB_LABEL, 10, 30, 180, 10, BS_AUTORADIOBUTTON | WS_VISIBLE | WS_GROUP
  RADIOBUTTON "Address", ID_RB_ADDR, 10, 60, 180, 10, BS_AUTORADIOBUTTON | WS_VISIBLE
  GROUPBOX   "", IDC_STATIC, 5, 90, 190, 30
  CHECKBOX   "Exact Text Match", ID_CBEXACT, 10, 100, 175, 10
  CTEXT      "Enter Search Text", IDC_STATIC, 0, 131, 99, 10
  EDITTEXT   ID_SRCH_TXT, 100, 130, 99, 10
  PUSHBUTTON "Search Backward", ID_SRCHBKWD, 5, 160, 60, 10
  PUSHBUTTON "Search Forward", ID_SRCHFWD, 70, 160, 58, 10
  PUSHBUTTON "Cancel", IDCANCEL, 135, 160, 55, 10
END

IDD_AMODEEDIT DIALOG DISCARDABLE 0, 0, 150, 160
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION "Modify Addressing Mode List"
BEGIN
  GROUPBOX    "Add an addressing mode", IDC_STATIC, 5, 10, 140, 40
  EDITTEXT    ID_AM_ADD, 20, 20, 100, 10
  PUSHBUTTON  "Clear", ID_AM_EDCLEAR, 25, 35, 35, 10
  PUSHBUTTON  "Apply", ID_AM_EDAPPLY, 80, 35, 35, 10
  GROUPBOX    "Add entries from file", IDC_STATIC, 5, 60, 140, 30
  PUSHBUTTON  "Open", ID_AM_EDOPEN, 60, 75, 30, 10
  GROUPBOX    "Delete an amode entry", IDC_STATIC, 5, 100, 140, 30
  PUSHBUTTON  "Delete Entry", ID_AM_EDDEL, 50, 112, 50, 10
  PUSHBUTTON  "Close", ID_AM_EDCLOSE, 90, 140, 40, 10
END

IDD_AM_DEL DIALOG DISCARDABLE 0, 0, 100, 100
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_POPUP | WS_SYSMENU
CAPTION " Amode Entry Delete"
BEGIN
  COMBOBOX    ID_AM_DEL_COMBO, 10, 10, 80, 100,
                                CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
  PUSHBUTTON  "Close", IDCANCEL, 60, 40, 30, 10
END
